body {
    background-color: #f5d9d5;
    font-family: "Nunito", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.blurb h2 {
    color:#EA1c2c;
    font-weight: 100;
    font-size: 2rem;
}

.blurb p {
    color: #f498b9;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.5;
}

.content {
    margin-bottom: 100px;
}

#mainNavbar .navbar-brand{
    color: #EA1c2c;
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color:  #EA1c2c;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
.navbar.scrolled {
    color: rgb(222, 219n, 222);
    transition: background 200ms;
}
#headingQuote span {
    color:red;
}